body {
  font-family: "Handlee", cursive;
  /* font-family: "Libre Baskerville", serif; */
  background: url("images/background-paper.jpg") no-repeat center;
  background-size: cover;
  padding: 10px 30px 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  /* border: 5px solid black; */
  text-align: center;
}

footer {
  margin-bottom: 0;
  position: absolute;
  padding: 10px 50px 0px 30px;
  width: 100%;
  /* min-height: 100%; */
  bottom: 0;
}

div.todo-list-header {
  margin: 7rem 0 1rem 0;
}

h1 {
  font-size: 30px;
}

form.submit-form {
  /* width: 100px; */
  display: inline-block;
  margin: 0;
}

h2 {
  font-size: 25px;
  width: 100%;
  margin: 2rem 0 1rem 0;
}

#todoList {
  font-size: 20px;
  margin-top: 10px;
}

.inputCheckbox {
  margin-right: 1rem;
}

#todoItemInput {
  width: 200px;
}
