<footer
  class="d-flex flex-wrap justify-content-between align-items-end py-3 mt-4 border-top"
>
  <div class="col-md-4 d-flex align-items-center">
    <a
      href="/"
      class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
    >
      <img
        class="favicon"
        width="30"
        height="24"
        src="images/icon_0921.png"
        alt="panda icon"
      />
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary"
      >© <%= new Date().getFullYear() %> Fun, Inc</span
    >
  </div>

  <p style="margin-bottom: 0; color: gray">
    <i>Take a note, or you won't forget.</i>
  </p>
</footer>
